<!-- Scenario A -->
<!-- You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->

<!-- Solution A -->
<form action="/action_page.php">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" maxlength="10"><br><br>
  <input type="submit" value="Submit">
</form>
<!-- https://www.w3schools.com/tags/att_input_maxlength.asp -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/maxlength -->

<!-- Scenario B -->
<!-- You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->

<!-- Solution B -->

<map name="planetmap">
<area shape="rect" coords="0,0,82,126" href="sun.htm" alt="Sun">
<area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury">
<area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus">
</map>

<!-- https://www.w3schools.com/tags/att_area_alt.asp#:~:text=The%20alt%20attribute%20specifies%20an,user%20uses%20a%20screen%20reader). -->
<!-- https://www.freecodecamp.org/news/what-is-alt-text-image-alt-text-html-example/ -->

<!-- Scenario C -->
<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->

<!-- Solution C -->

<p>The HTML <code>button</code> tag defines a clickable button.</p>

<p>The CSS <code>background-color</code> property defines the background color of an element.</p>

<!-- https://www.w3schools.com/tags/tag_code.asp -->
<!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code -->

<!-- Stretch Goal -->
<!-- Scenario D -->
<!-- You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->

$('.carousel').carousel({
  interval: 2000
})

<!-- https://getbootstrap.com/docs/4.0/components/carousel/ -->
<!-- https://www.w3schools.com/bootstrap/bootstrap_ref_js_carousel.asp -->
