/Google font/
body {
    font-family: 'Open Sans', sans-serif;
}

/CSS reset rule/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    /shorthand property/
    padding: 0.8rem;
/*    padding-top:0.8rem ;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0.8rem;*/
    margin-bottom: 2rem;
    border: 2px solid black;
}
nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}

#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 20px;
    font-size: 1rem;
    padding: 1rem;
}

#succeed-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#succeed-info h2 {
    margin-bottom: 1rem;
}

#succeed-info h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

footer {
    padding: 3rem;
}

footer span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#pre-footer {
    padding: 1rem;
    color: white;
    background-color: #002540;
}
#pre-footer div {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
#pre-footer div h3, div p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


/Margin vs Padding/
/Margin is best used when creating space between elements/
/Padding is best used when creating space between element's border and its content/

