/*CSS SYNTAX*/
/*A CSS rule-set consists of a selector and a declaration block*/

/*Selector determines which element will the styling be applied to*/

/*Type Selector - targets element with the specified type/tag name*/


h1	{
	/*Declaration block*/
	/*color - property(The selected styling attribute to be modified in a given selector*/
	/*yellow - value (the modified value of the selected styling attribute*/	
	color: yellow;
	text-align: center;
	font-size: 2rem;
}

section {
	height: 100vh;
	text-align: center;
}

h2	{
	font-size: 1.5rem;
}
ol {
	list-style: none;
}

body {
	background-color: lightsteelblue;
}

nav {
	background-color: white;
}
a:hover {
	background-color: #b4d6de;
}
div {
	display: inline-block;
	float: right;
}


/*Universal Selector - targets all the elements*/
* {
	font-family: "Helvetica" monospace;
	font-size: 20px;
}

/*ID selector (highest priority)*/
#zuitt-motto {
	letter-spacing: 5px;
}

h3 {
	letter-spacing: 25px !important;

}

/*Class Selector - targets element according to its class attribute*/
.offering-item {
	text-transform: uppercase;
}

/*Attribute Selector - targerts element with a specified attribute; used to target elements with a certain attribute*/
/*tagname[attribute]*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 24vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15%;
}

/* !important */

/*Specificity Rule*/
/*
The Following order prioritizes sytles from highest to lowest priority(according to selector)
1. ID Selector
2. Class Selector
3. Attribute Selector
4. Type Selector
5. Universal Selector
*/

/*
Specificity Rule
*/
/*
The following order prioritizes styles from hightest to lowest priority (according to selector)
1. Inline Styling
2. Internal Styling
3. Exteral Styling
*/

/*CSS Combinators*/
/*Adjacent Sibling Selector  (+) - target the element immediately following another element, which must be its sibling and located right after it in the HTML Structure */
/*selector + selector*/
h3 + img {
	height: 500px;
	width: 500px;
	border-radius: 50%;
}

/*Descendant Selector (Whitespace) - targets any element that is a descendant of another element*/
/*selector selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*General Sibling Selector (~) - target all elements that follow another element and share the same parent*/
/*selector ~ selector*/
h2 ~ a, a{
	text-decoration: none;
}

/*Child Selector (>) - target all elements that are the children of a specified element*/
/*selector > selector*/
body > section > form > label {
	color: rgb(128, 0, 0);
}

