body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    position: sticky;
    top: 10px;
}

.nav-logo {
    display: inline;
    margin: 1rem;
}
.right-nav {
    display: inline;
    float: right;
}
.nav {
    font-weight: bold;
    display: inline;
    margin: 1rem; 

}

.tuitt-button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.5rem;
}

#bg-image {
    margin-top: -25px;
    margin-bottom: 50px;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    text-align: right;
}

.front-bg {
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    min-height: 50vh;

}
.title {
    font-family: "zilla lab";
    font-size: 48px;
    color: white;
    padding-left: 55%;
    padding-right: 10%;
    padding-bottom: 1rem;
    text-align: right;
}
.subtitle {
    font-size: 18px;
    color: white;
    padding-right: 10%;
    padding-left: 70%;
    text-align: right;
}
.apply-button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    border-radius: 20px;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 10%;
    margin-top: 20px;
}
.intro {
    text-align: center;
    text-justify: inter-word;
    margin-top: 8%;
}
.title-2 {
    font-size: 32px;
    font-family: "zilla slab";
}
.intro-description {
    font-size: 18px;
    text-align: justify;
    padding-top: 2%;
    padding-right: 25%;
    padding-left: 25%;
}

.pre-footer {
    background-color: #f7fbfb;
    text-align: center;
    margin: 10rem;
    margin-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
    padding-bottom: 15rem;
}
.prefooter-description {
    font-size: 18px;
    padding-top:5%;
    padding-right: 10%;
    padding-left: 10%;
}

.book-button {
    background-color: #336589;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
footer {
    text-align: center;
}



