#yellow {
	color: yellow;
}


* {
	font-family: "Courier New" monospace;
	font-size: 20px;
}

h1 {
	font-size: 60px;
}

#learn {
	text-transform: uppercase;
}
.languages {
	background-color: lightgreen;
}
#tools-to-be-used li[class] {
	border: 2px solid blue;
}



section + h4 {
	list-style: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 25px;
}